@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --white-color: #F5F5F5;
  --silver-color: #CBD5E1;
  --blue-color: #0EA5E9;
  --cyan-color: #BAE6FD;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
span,
div {
  font-family: "Inter", serif;
}

body{
  background-color: #232258;
}

#app{
  height: 100vh;
  max-width: 720px;
  margin: auto;
  background: center / cover no-repeat url(/bg.png);
  padding: 0 10px;
  padding-top: 70px;
}

//transitions 


// fade

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// fast-fade

.fast-fade-enter-active,
.fast-fade-leave-active {
  transition: opacity 0.15s ease;
}

.fast-fade-enter-from,
.fast-fade-leave-to {
  opacity: 0;
}


//swipe-right
.swipe-right-enter-active,
.swipe-right-leave-active {
  transition: opacity 0.3s var(--fast-out), transform 0.3s var(--fast-out);
}
.swipe-right-enter-from {
  opacity: 0;
  transform: translateX(-20%);
}
.swipe-right-enter-to,
.swipe-right-leave-from {
  opacity: 1;
  transform: translateX(0);
}
.swipe-right-leave-to {
  opacity: 0;
  transform: translateX(20%);
}


//swipe-left
.swipe-left-enter-active,
.swipe-left-leave-active {
  transition: opacity 0.3s var(--fast-out), transform 0.3s var(--fast-out);
}
.swipe-left-enter-from {
  opacity: 0;
  transform: translateX(20%);
}
.swipe-left-enter-to,
.swipe-left-leave-from {
  opacity: 1;
  transform: translateX(0);
}
.swipe-left-leave-to {
  opacity: 0;
  transform: translateX(-20%);
}

//fade-down
.fade-down-enter-active,
.fade-down-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-down-enter-from,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-down-enter-to,
.fade-down-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.swipe-up-enter-active {
  animation: swipeUp .5s var(--fast-out) forwards;
}
.swipe-up-leave-active {
  animation: swipeDown .5s var(--fast-out) forwards;
}

/* Ключевые кадры для swipe-up */
@keyframes swipeUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Ключевые кадры для swipe-down */
@keyframes swipeDown {
  0% {
    //transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}


//fade-filter
.fade-filter-enter-active, .fade-filter-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-filter-enter, .fade-filter-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}


//staggerX
.staggerX-enter-active,
.staggerX-leave-active {
  transition: all 0.3s ease;
}

.staggerX-enter-from,
.staggerX-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.staggerX-leave-from,
.staggerX-enter-to {
  opacity: 1;
  transform: translateX(0);
}


//staggerY
.staggerY-enter-active,
.staggerY-leave-active {
  transition: all 0.3s ease;
}

.staggerY-enter-from,
.staggerY-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.staggerY-leave-from,
.staggerY-enter-to {
  opacity: 1;
  transform: translateY(0);
}


